# Xcode
*.xcuserstate
xcuserdata/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

# Build
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
*.resolved

# macOS
.DS_Store

# xcodegen (project.pbxproj 由 project.yml 生成，可选择不提交)
# 本项目选择提交 xcodeproj 以便直接用 Xcode 打开
